{{#each products}}
     <div class="card m-5" style="width: 280px;">
      <div class="card-header bg-white">

        
      <a href="/product/{{category}}"><img src="data:image/jpeg;base64,{{base64Image dados}}" alt="Imagem" width="250px" class="mt-2"></a>


      </div>
          <div class="card-body">
              <div class="card-text">
                <a href="/product/{{category}}">
                    <p>{{title}}</p>
                </a>
                 <small class=" fw-bold" style="font-size: 1.5rem;">R$:{{price}}</small><br>
                <span class="text-secondary">{{subprice}}</span>

              </div>
      
           </div>

   
{{else}}
    <h4 class="m-3 text-secondary">No products</h4>
{{/each}}